<!-- <div > -->
    <nav class="nav-container">
        <ul>
            <li class="grids">
                <a routerLink="/products"><b>grids</b></a>
            <li>
            <li class="shop">
                <a routerLink="/shop"><b>Shop</b></a>
            <li>
            <li class="trending">
                <a routerLink="/trending"><b>Trending</b></a>
            <li>
            <li class="sales">
                <a routerLink="/sales"><b>Sales</b></a>
            </li>
            <li>
                <app-search></app-search>
            </li>

            <li>
                <div class="sign_in">
                    <a routerLink="/account"><b>Account</b></a>
                </div>
            </li>
            <li>
                <div class="sign_in">
                    <a routerLink="/wish_list"><b>Wishlist</b></a>
                </div>
            </li>
            <li>
                <app-cart-status></app-cart-status>
            </li>
        </ul>
    </nav>
<!-- </div> -->